<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>title</title>
 </head>
 <body>

  <div id="shopName"></div>
  <div id="address"></div>
  <div id="phone"></div>
  <ul id="orderList"></ul>
  <div id="total_paid">Amount due: $0.00</div>
  <div id="change_due"></div>

  <form>
    <input type="text" id="uniqueID" />
    <input type="button" onclick="changeDue()">
  </form>

 <script src="js/getData.js"></script>
 <script src="js/register.js"></script>
 </body>
</html>